/* Coin component styles */
.coin {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    margin: 20px;
  }
  
  .coin-flip-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Define the hover effect */
.coin-flip-button:hover {
    background-color: black;
    color: #fff;
  }
  
  .coin-image {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  