{% extends 'base.html' %} {% block title %}Registration{% endblock %} {% block
content %}

<!-- Registration Page -->
<h1>User Registration</h1>
<div class="container">
  <div id="content" style="margin-top: 80px">
    <form id="registrationForm" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" required />
      <br />
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" required />
      <br />
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone" required />
      <br />
      <button type="submit">Register</button>
    </form>
  </div>
</div>
<script src="../js/registration.js"></script>
{% endblock %}
