{% extends 'base.html' %} {% block title %} Boggle {% endblock %} {% block
content %}
<h1>Boggle Game</h1>
<form action="" , method="POST">
  <label for="guess" name="guess"> Word: </label>
  <input type="text" name="guess" id="guess" required />
  <button type="submit">Submit</button>
</form>

<div id="score">0 POINTS</div>

<div class="letter-board-wrapper">
  <div class="game-board" id="letter-board">
    {% for row in session['board'] %} {% for c in row %}
    <div class="letter">
      <span>{{c}}</span>
    </div>
    {% endfor %} {% endfor %}
  </div>
</div>
<br />
<div id="result-pannel">
  <br />
  <div id="result"></div>
  <br />
  <ul>
    Found words
  </ul>
</div>
{% endblock %}
