a:link, a:visited, a:hover {
  text-decoration: none;
  color:rgb(56, 162, 107);
}


.container{    
  margin-left:5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
}
h1 {
  color:rgb(56, 162, 107);
  text-align: center;
  }

/* form {
    font-size: 2view 0px;
    text-align: left;
    justify-content: center;
    align-items: left;

  } */

.content {

    /* text-align: left;
    justify-content: center;
    align-items: left; */

  }




nav {
  color:rgb(56, 162, 107);
  font-weight:900;
  padding-left:2%;
  padding-top: 2%;
  font-size:30px;
}

.form-check-input:hover{
  text-shadow: 0.1;
  cursor: pointer;
}


