/* SnackDetails.css */

.SnackDetails {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  .details {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background: #fef2e4; 
    box-shadow: 0px 2px 10px #aaa;
  }
  
  .snack-img {
    width: 300px; 
    border-radius: 10px;
  }
  
  .back-btn {
    margin-top: 1rem; 
    background: #1e90ff;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    padding: 10px 15px; 
  }
  
  .back-btn:hover {
    background: #187bcd;
  }