<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/dc9be90fa8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a
          class="navbar-brand text-success text-uppercase fw-bolder fs-1"
          href="/"
        >
          <i class="bi bi-aspect-ratio"></i> TellMe!
        </a>

        <div class="navbar-nav navbar-light d-flex flex-row">
          {% if not session['username'] %}
          <a class="btn btn-success btn-log" href="/login">Log in</a>
          <a class="btn btn-outline-success btn-log" href="/register"
            >Sign up</a
          >
          {% else %}
          <a href="/" class="nav-link m-3">{{session['username']}}</a>
          <a class="btn btn-success btn-log" href="/logout">Log out</a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %} {% with messages = get_flashed_messages()
    %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
