{% extends 'base.html' %} {% block title %} Sign In {% endblock %} {% block
content %}
<div class="container">
  <h1 class="text text-success mt-5">Sign in</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <!--add type=hidden form fields -->

    {% for field in form if field.widget.input_type != 'hidden' %}

    <div class="form-group mb-4">
      {{ field.label(class_="form-label") }} {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <small>{{ error(class_='text text-danger') }}</small> {% endfor %}
    </div>

    {% endfor %}

    <button class="btn btn-success" type="submit">Submit</button>
  </form>
  <br />

  {% endblock %}
</div>
