{% extends 'base.html' %} {% block title %} Forgot Password {% endblock %} {%
block content %}
<div class="container">
  <h1 class="text text-success mt-5">Forgot your password</h1>
  <p>Please enter the email address you used to sign up</p>
  <form method="post">
    {{ form.hidden_tag() }}
    <!--add type=hidden form fields -->

    {% for field in form if field.widget.input_type != 'hidden' %} {% if
    field.type == "BooleanField" %}
    <div>{{ field }} {{ field.label }}</div>
    {% else %}
    <div class="form-group mb-4">
      {{ field.label(class_="form-label") }} {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <small class="text text-danger">{{ error }}</small> {% endfor %}
    </div>
    {% endif %} {% endfor %}

    <button class="btn btn-success" type="submit">
      Request password reset
    </button>
  </form>
</div>
{% endblock %}
