.mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .card-img-top{
    margin-top: 1rem;
    border-radius: 15px;
    
  }

  .card{
    margin-top: 1.5rem;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
  }


  .about-me{
    margin:10px;
    border-radius: 15px;
  }

  .profile-pic{
    border-radius: 25px;
  }

  .form-text{
    color: red;
  }

nav{
    background-color: blueviolet;
    color: whitesmoke;
}
.nav-link:hover{
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 5px;
  }

.navbar-brand, .navbar-brand:hover {
    font-size:40px;
    color:whitesmoke;
    padding-left:30px;
    font-weight: bolder;
  }

.navbar-toggler{
    color:whitesmoke;
  }

  h1{
    font-weight: bolder;
    color:blueviolet;
    margin:10px;
    padding-left:20px;

  }

  .btn-primary,  .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: blueviolet;
    border-color: blueviolet;
  }



  body{
    background-color: whitesmoke;
  }

  .tribe{
    background-color: #fff;
    padding:10px;
    margin:20px;
    border-radius:15px;
    box-shadow: 0.25px 0.25px 0.25px 0.25px;

  }

  footer{
    background-color: blueviolet;
    color:whitesmoke
  }