/* Global styles */
body {
    background-color: whitesmoke;
  }
  
  h1 {
    font-weight: bolder;
    color: blueviolet;
    margin: 10px;
    padding-left: 20px;
  }
  
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus {
    background-color: blueviolet;
    border-color: blueviolet;
  }
  
  /* Navigation styles */
  nav {
    background-color: blueviolet;
    color: whitesmoke;
  }
  
  .navbar-brand,
  .navbar-brand:hover {
    font-size: 40px;
    color: whitesmoke;
    padding: 30px;
    font-weight: bolder;
  }
  
  .nav-link:hover {
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 5px;
  }
  
  .navbar-toggler {
    color: whitesmoke;
  }

  /* Footer style */
footer {
    background-color: blueviolet;
    color: whitesmoke;
  }
  /* Form styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-text {
    color: red;
  }

  .form-label{
    font-weight: bolder;
  }
  
  /* Card styles */
  .card {
    margin-top: 1.5rem;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
  }
  
  .card-img-top {
    margin-top: 1rem;
    border-radius: 15px;
  }
  
  /* About me styles */
  .about-me {
    margin: 10px;
    border-radius: 15px;
  }
  
  /* Profile picture styles */
  .profile-pic {
    border-radius: 25px;
  }
  
  /* Tribe styles */
  .tribe {
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    /* border-radius: 15px; */
    /* box-shadow: 0.25px 0.25px 0.25px 0.25px; */
  }